<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://images.ecosia.org/qhSqVPJPwB1dd950Op3OhPJxgZk=/0x390/smart/https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2Foriginals%2F46%2F7c%2Fed%2F467ced6d9282c97df1ab810f5a82f1c0.jpg">
</div>
<div id="susenwis">
  <!-- <suske></suske>
  <wiske></wiske> -->
  <motor *ngFor="let motor of motors" [motorName]="motor"></motor>
</div>

